<div *ngIf='ticket'>
  <table>
    <tr>
      <th>ID</th>
      <td>{{ticket.id}}</td>
    </tr>
    <tr>
      <th>TYPE</th>
      <td>{{ticket.type}}</td>
    </tr>
    <tr>
      <th>STATUS</th>
      <td>{{ticket.status}}</td>
    </tr>
    <tr>
      <th>PRIORITY</th>
      <td>{{ticket.priority}}</td>
    </tr>
    <tr>
      <th>SUBJECT</th>
      <td>{{ticket.subject}}</td>
    </tr>
    <tr>
      <th>DESCRIPTION</th>
      <td>{{ticket.description}}</td>
    </tr>
    <tr>
      <th>TAGS</th>
      <td>{{[].concat.apply([], ticket.tags)}}</td>
    </tr>
    <tr>
      <th>DATE CREATED</th>
      <td>{{ticket.created_at | date:'medium'}}</td>
    </tr>
    <tr>
      <th>LAST UPDATED</th>
      <td>{{ticket.updated_at | date:'medium'}}</td>
    </tr>
    <tr *ngFor="let field of ticket.custom_fields">
      <th>{{field.id}}</th>
      <td>{{field.value}}</td>
    </tr>
  </table>
</div>
