<h2 *ngIf="errorMessage;else ticket_history">{{errorMessage}}</h2>
<ng-template #ticket_history>
  <ngb-accordion class='tickets'>
    <ngb-panel *ngFor="let ticket of tickets"
      [class.selected]="ticket === selectedTicket"
      (click)="onSelect(ticket)">
      <ng-template ngbPanelTitle>
        <span
          class="badge {{ticket.priority}} {{ticket.status}} fa fa-{{ticket.icon}} fa-2x"
          md-tooltip="{{ticket.tooltip}}"
          mdTooltipPosition="right">
        </span>
        {{ticket.updated_at|date:'shortDate'}}
      </ng-template>
      <ng-template ngbPanelContent>
        <ticket-detail [ticket]="ticket"></ticket-detail>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ng-template>
